@{
    ViewData["Title"] = "About Me";
}

<h1>About Me</h1>
<div class="about-section">
    <img src="~/images/profile.jpg" alt="Profile Picture" class="profile-pic" />
    <p>Hello! My name is Habiba Abdelmalik. I am a passionate .NET Web Developer with experience in building dynamic web applications. I specialize in ASP.NET MVC, Entity Framework, and front-end technologies. Feel free to explore my projects and reach out for any inquiries!</p>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
